<header>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/produto">Produto</a>
  </nav>
</header>

  <main>
    <div>
    <label for="id">Informe o ID do Produto:</label>
    <input id="id" type="number" [(ngModel)]="idProduto" placeholder="Digite o ID" />
    <button (click)="buscarProdutoPorId(idProduto)">Buscar Produto</button>
    </div>

    <div>
      <!-- Exibir o resultado, caso encontre o produto-->
      <div *ngIf="produto">
        <h3>Produto Encontrado:</h3>
        <p><strong>ID:</strong> {{ produto.id }}</p>
        <p><strong>Nome:</strong> {{ produto.nome }}</p>
        <p><strong>Descricao:</strong> {{ produto.descricao }}</p>
        <p><strong>Quantidade:</strong> {{ produto.quantidade }}</p>
        <p><strong>Codigo de Barras:</strong> {{ produto.codigoDeBarra}}</p>
      </div>

    </div>
  </main>

  <footer>
    <p>&copy; 2024 Meu Armarinho - Todos os direitos reservados.</p>
  </footer>

